header {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 1rem 2rem;
    background-color: rgb(113, 112, 112);
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(112, 111, 111);
    color: rgb(0, 0, 0);
    margin: 0;
}