header {
    display: flex;
    justify-content: space-between; 
    align-items: center;    
    padding: 1rem 2rem;
    background-color: rgb(113, 112, 112);
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(112, 111, 111);
    color: rgb(0, 0, 0);
    margin: 0;
}


button {
    background-color: #000000; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #948c8c; 
}



body.mode-claire {
  background-color: #5cbbae;
  color: #ffffff;
}


body.mode-claire a {
  color: #e0d5eb;
}


body.mode-sombre {
  background-color: #535f6b;
  color: #000000;
}


body.mode-sombre a {
  color: #2d3b31;
}







.bonne-reponse {
    background-color: #4CAF50 !important;
    color: rgb(0, 0, 0);
}

.mauvaise-reponse {
    background-color: #e74c3c !important; 
    color: rgb(0, 0, 0);
}